@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholder';

.advice {
    background-color: v.$color-lgr;
    padding: 200px 0;
    margin: 150px 0;
    width: 100%;
    height: 545px;
    &__content {
        @include m.d-flex (center,center,nowrap,column,0,0);
        &-title {
            @include m.font (44px, 400, v.$color_blue);
        }
        &-desc {
            @include m.font (22px, 300, v.$color_blue);
            font-family: "DM Sans", serif;
            line-height: 35px;
            margin: 20px 0;
        }
        &-btn {
            @include m.font (18px, 400, v.$color_white);
            background-color: v.$color_blue;
            border: none;
            border-radius: 5px;
            margin-top: 50px;
            width: 234px;
            height: 59px;

            &:hover {
                cursor: pointer;
                opacity: .7;
            }
        }
    }
}