@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholder';

.about__cards {
    position: relative;
    background-color: v.$color_blue;
    &-img {
        width: 595px;
        height: 760px;
        @include m.position (absolute,1,-1,top,left,-300px,-700px);

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.7);
            opacity: .9;
        }
    }
}

.practice__cards {
    @include m.d-flex (space-between, center);
    margin: 35px 0;
    
    .info__card {
        padding: 30px 10px 0 30px;
        width: 350px;
        height: 450px;
        @include m.d-flex (start, start, nowrap, column, 0, 10px);
        border: .3px solid grey;

        &-icon {
            width: 60px;
            height: 60px;
            object-fit: contain
        }

        &-title {
            @include m.font (22px, 400, v.$color_blue);
            margin: 20px 0;
        }
        &-desc {
            @include m.font (20px, 400, v.$color_blue);
            line-height: 35px;
        }
        &-btn {
            @include m.font (19px, 400, v.$color_blue);
            padding: 40px 0 10px 0;
        }
        &-nav {
            object-fit: contain;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
            opacity: .9;
        }
    }
}
