@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholder';

.contact {
    margin: -150px 0;
    padding: 100px 58px;
    width: 100%;
    height: 660px;
    background-color: v.$color_blue;
    &__wrapper {
        @include m.d-flex (space-between, center);

        &-inform {
            .inform {
                &__title {
                    @include m.font (35px, 400, v.$color_white);
                    margin: 20px 0;
                }
                &__info {
                    @include m.font (19px, 300, v.$color_white);
                    line-height: 35px;
                    font-family: "DM Sans", serif;
                    opacity: .6;
                }
                &__mail {
                    @include m.font (19px, 300, v.$color_white);
                    line-height: 35px;
                    font-family: "DM Sans", serif;
                    opacity: .6;
                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        &-content {
            position: relative;
            .content {
                &__title {
                    @include m.font (28px, 400, v.$color_white);
                    line-height: 50px;
                    margin: 0 260px;
                }
                &__input {
                    width: 400px;
                    height: 56px;
                    background-color: #99B6C5;
                    border: none;
                    border-radius: 2px;
                    margin: 30px 0 0 260px;
                }
            }
        }
    }

    &__socials {
        margin: 100px 0;
        @include m.d-flex (start,start,nowrap,column,0,0);
        &-link {
           @include m.font (19px, 300, v.$color_white);
           @include m.d-flex (start, center, nowrap, row, 20px, 10px);
           margin: 10px 0;
           line-height: 35px;
           font-family: "DM Sans", serif;
           opacity: .6;
           &:hover {
               cursor: pointer;
               opacity: 1;   
           }
        }
        &-icon {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
    }
}